name: Build libfuzzer-dotnet

on:
  workflow_dispatch:
  workflow_call:
  pull_request:
    branches: ["master"]

env:
  dotnet-version: 8.0

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: clang -Werror -fsanitize=fuzzer libfuzzer-dotnet-windows.cc -o libfuzzer-dotnet-windows.exe
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.dotnet-version }}
      - name: Run libFuzzer tests
        run: cp libfuzzer-dotnet-windows.exe libfuzzer-dotnet.exe && .\test.ps1
      - uses: actions/upload-artifact@v3
        with:
          name: libfuzzer-dotnet
          path: libfuzzer-dotnet-windows.exe

  build-ubuntu:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: clang -fsanitize=fuzzer libfuzzer-dotnet.cc -o libfuzzer-dotnet-ubuntu
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.dotnet-version }}
      - name: Run libFuzzer tests
        shell: pwsh
        run: cp libfuzzer-dotnet-ubuntu libfuzzer-dotnet && .\test.ps1
      - uses: actions/upload-artifact@v3
        with:
          name: libfuzzer-dotnet
          path: libfuzzer-dotnet-ubuntu

  build-debian:
    runs-on: ubuntu-24.04
    container: debian:bullseye

    steps:
      - uses: actions/checkout@v4
      - name: Download LLVM
        run: |
          apt-get update && apt-get install -y lsb-release wget software-properties-common gnupg
          add-apt-repository 'deb http://apt.llvm.org/bullseye/ llvm-toolchain-bullseye-18 main'
          wget -qO- https://apt.llvm.org/llvm-snapshot.gpg.key | tee /etc/apt/trusted.gpg.d/apt.llvm.org.asc
          apt-get update && apt-get install -y clang-18 libfuzzer-18-dev llvm-18 llvm-18-dev
      - name: Build
        run: clang++-18 -fsanitize=fuzzer libfuzzer-dotnet.cc -o libfuzzer-dotnet-debian
      - uses: actions/upload-artifact@v3
        with:
          name: libfuzzer-dotnet
          path: libfuzzer-dotnet-debian
